<launch>

      <!-- casa_mercedes/2019-09-30_living_arriba_1hz.bag -->
      <!-- depto_piezafondo/_2019-10-14-10-38-58_pieza_fondo_1hz.bag -->
      <!-- depto_piezafondo/_2019-10-15-15-19-10_pieza_fondo_1hz.bag -->
      <arg name="BagFile"           default="casa_mercedes/2019-09-30_living_arriba_1hz.bag"/>
	
      <arg name="isSweep"	      default="false"/>
	<arg name="isRecord"	      default="false"/>
	<arg name="isPlayBack"	      default="true"/>    
	<arg name="isPCtoLS"	      default="false"/>
	<arg name="isRVizPC"	      default="false"/>
	<arg name="isRVizOG"	      default="true"/>
	<arg name="isTransform"	      default="true"/>

    <node if="$(arg isRecord)" pkg="rosbag" type="record" name="rosbag_record_robot"
       args="record -o $(find ramon_slam2d)/bagfiles/
            /scan"
    />
    <param if="$(arg isPlayBack)" name="/use_sim_time" value="true"/>
    
    <node if="$(arg isPlayBack)" pkg="rosbag" type="play" name="rosbag_play_robot"
       args="--clock $(find ramon_slam2d)/bagfiles/$(arg BagFile)"
    />
    <!-- run sweep_node node -->
    <node if="$(arg isSweep)" name="sweep_node" pkg="sweep_ros" type="sweep_node" output="screen">
            <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
            <param name="serial_baudrate"     type="int"    value="9600"/>
            <param name="frame_id"            type="string" value="laser_frame"/>
  	        <param name="rotation_speed"	  type="int" value="1"/>
    </node>


    <!-- run pointcloud_to_laserscan node -->
    <node if="$(arg isPCtoLS)" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="pc2"/>
        <rosparam>
            target_frame: laser_frame <!-- Leave disabled to output scan in pointcloud frame-->
            transform_tolerance: 0.001
            min_height: -1.0
            max_height: 1.0

            <!--angle_min: -M_PI -M_PI/2-->
            <!--angle_max: M_PI   M_PI/2-->
            angle_min: -3.14 <!-- -M_PI/2-->
            angle_max: 3.14  <!-- M_PI/2-->
            <!--Modificado ya que caso contrario gmapping crashea al ser muchos puntos recibidos-->
            angle_increment: M_PI/180
            scan_time: 0.1
            range_min: 0.5
            range_max: 30.0
            use_inf: false

             <!--# Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level-->
            concurrency_level: 2
        </rosparam>

    </node>
 
  <node if="$(arg isRVizPC)" pkg="tf"
        type="static_transform_publisher"
        name="lidar_base_broadcaster"
        args="0 0 0 0 0 0 map laser_frame 100" />

  <node if="$(arg isRVizOG)" pkg="tf"
        type="static_transform_publisher"
        name="lidar_base_broadcaster"
        args="0 0 0 0 0 0 map laser_frame 100" />
<!-- 
  <node if="$(arg isTransform)" pkg="tf"
        type="static_transform_publisher"
        name="lidar_broadcaster"
        args="0 0 0 0 0 0 map scan_3d 100" />
 -->
  <node if="$(arg isTransform)" pkg="tf"
        type="static_transform_publisher"
        name="pose_broadcaster"
        args="0 0 0 0 0 0 map pose 100" />

  <!-- Delay -->
  <arg name="node_start_delay" default="2.0" />

  <node if="$(arg isTransform)" 
        name="ramon_slam2d"	
        pkg="ramon_slam2d"  
        type="ramon_slam2d" 
        output="screen">
  </node>

	<!-- Visualisation RVIZ for PointCloud -->
	<node if="$(arg isRVizPC)" 
          name="rviz_pc" 
          pkg="rviz" 
          type="rviz" 
          args="-d $(find ramon_slam2d)/rviz/lidar_map_pointcloud.rviz" />

	<!-- Visualisation RVIZ for OccupancyGrid -->
	<node if="$(arg isRVizOG)" 
          name="rviz_OG" 
          pkg="rviz" 
          type="rviz" 
          args="-d $(find ramon_slam2d)/rviz/lidar_map_occupancygrid.rviz" />

</launch>
