<!-- ramon_slam3d_examples.launch -->
<launch>
	<arg name="camera_cal_loc"		value="minoru_camera_info/20200318_320x240" />
	<arg name="camera_params_loc"	value="minoru_camera_params/2020XXXX_640x480" />
	<arg name="camera_params_url"	value="$(find ramon_slam3d)/params/$(arg camera_params_loc)/stereo_camera_params.yaml" />

	<!-- Rotate the camera frame.(x y z yaw pitch roll) -->
	<arg name="pi/2" value="1.5707963267948966" />
	<arg name="optical_rotate" value="0 0 0.5 $(arg pi/2) 0 -$(arg pi/2)" />
	<node name="camera_base_link" pkg="tf" type="static_transform_publisher"
		args="$(arg optical_rotate) base_link camera 100" />

	<group ns="stereo">
		<!-- Run the stereo camera -->
	    <include file="$(find ramon_slam3d)/launch/stereo_camera.launch" >
			<!-- set left/right camera device and calibration url -->
			<arg name="right_camera_dev"	value="/dev/video2" />
			<arg name="left_camera_dev"		value="/dev/video4" />

			<!-- Set camera location -->
			<arg name="camera_cal_loc" 		value="$(arg amera_cal_loc)" />

			<!-- set image size -->
			<arg name="image_width"			value="320" />
			<arg name="image_height"		value="240" />

			<!-- set camera parameters -->
			<arg name="fps"					value="30" />
		</include>

		<!-- Run the ROS package stereo_image_proc for image rectification -->
		<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen"  >
			<param name="queue_size" value="2000" />
			<param name="approximate_sync" value="True" />
			<remap from="/stereo/left/image" to="/stereo/left/image_raw"/>
			<remap from="/stereo/right/image" to="/stereo/right/image_raw"/>
		</node>
	</group>
	<node name="image_view" pkg="image_view" type="stereo_view" output="screen">
		<remap from="image" to="image_rect_color" />
		<remap from="stereo" to="/stereo" />
	</node>

	<!-- Load reconfigure file -->
	<node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /stereo/stereo_image_proc $(arg camera_params_url)" />

	<!-- Visualize data -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find ramon_slam3d)/rviz/stereo_camera.rviz" />
</launch>

